<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field [maxLength]="100" property="designa_pt_servicos" [required]="true" requiredText="is required" title="Designa Pt Servicos" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="100" property="designa_en_servicos" [required]="true" requiredText="is required" title="Designa En Servicos" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="100" property="inst_dispo_servicos" [required]="true" requiredText="is required" title="Inst Dispo Servicos" type="string">
        </rz-string-form-field>
        <rz-integer-form-field maxText="cannot be more than" minText="cannot be less than" property="index_servicos" [required]="true" requiredText="is required" title="Index Servicos" type="integer">
        </rz-integer-form-field>
        <rz-string-form-field [maxLength]="100" property="obs_servicos" [required]="true" requiredText="is required" title="Obs Servicos" type="string">
        </rz-string-form-field>
        <rz-number-form-field maxText="cannot be more than" minText="cannot be less than" property="custo_servicos" [required]="true" requiredText="is required" title="Custo Servicos" type="number">
        </rz-number-form-field>
        <rz-string-form-field [maxLength]="100" property="desc_servicos" [required]="true" requiredText="is required" title="Desc Servicos" type="string">
        </rz-string-form-field>
        <rz-lookup-form-field [data]="getGtsResult" placeholder="Choose Gt" property="id_GT" [required]="true" requiredText="is required" textProperty="sigla" title="Gt" valueProperty="id_GT" type="lookup">
        </rz-lookup-form-field>
        <rz-date-form-field property="data_inicio" [required]="false" requiredText="is required" title="Data Inicio" type="date">
        </rz-date-form-field>
        <rz-date-form-field property="data_fim" [required]="false" requiredText="is required" title="Data Fim" type="date">
        </rz-date-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
