<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 *ngIf="pertenceui" (cancel)="form0Cancel($event)">
        <rz-lookup-form-field property="id_UI" [required]="true" textProperty="nome_UI" title="Ui" valueProperty="id_UI" placeholder="Choose Ui" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
        <rz-lookup-form-field property="id_Pessoa" [required]="true" textProperty="email_pessoa" title="Pessoa" valueProperty="id_Pessoa" placeholder="Choose Pessoa" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
