<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="formacao" *ngIf="formacao" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="tipo_formacao" [required]="true" title="Tipo Formacao" [maxLength]="100" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="descricao_Formacao" [required]="true" title="Descricao Formacao" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-lookup-form-field [data]="getRecursosResult" property="index_Recurso" [required]="true" textProperty="obs" title="Recurso" valueProperty="index_Recurso" placeholder="Choose Recurso" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
        <rz-string-form-field property="tipo_Ensino" [required]="false" title="Tipo Ensino" [maxLength]="100" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-integer-form-field property="index_formacao" [required]="true" title="Index Formacao" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
